<%- include('head') %>
    <link href="css/perfil.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="cuerpo">
                <h2>¡Bienvenido a tu perfil personal, <%= session.nombreUsuario %>!</h2>
                <hr>
                <div class="informacion">
                    <p id="planActual"><b>Tu plan actual:</b> <%= session.planActual %></p>
                    <p id="planActual"><b>Tu rango actual:</b> <%= session.rango %></p>
                    <p id="fechaRegistro"><b>Fecha de registro: </b> <%= session.fechaRegistro %></p>
                </div>
                <br>
                <div class="informacionPersonal">
                    <h3>Información personal</h2>
                        <hr>
                        <p><b>Nombre de usuario:</b> <%= session.nombreUsuario %></p>
                        <p id="email"><b>Email:</b> <%= session.email %></p>
                        <p id="tituloCambiarContrasena"><b>Cambiar contraseña ▼</b></p>
                        <div id="contenedorNuevaContrasena" class="escondido">
                            <input type="password" class="form-control campoPass" id="contraActual"
                            name="cantidadIngrediente" placeholder="Contraseña actual">
                            <input type="password" class="form-control campoPass" id="contraNueva"
                            name="cantidadIngrediente" placeholder="Contraseña nueva">
                            <button type="button" class="btn campoPass" id="eliminarIngrediente">
                                <i class="fas fa-key mr-1"></i>Cambiar contraseña</button>
                        </div>
                        <br>
                        <p id="nombreCompleto"><b>Nombre completo:</b> <%= session.nombreCompleto %></p>
                        <p id="direccion"><b>Dirección de entrega:</b> <%= session.direccion %></p>
                </div>
            </div>
    </body>

    <script src="js/perfil.js" defer></script>

    <%- include('footer') %>